#**PYTHON BASICS TERMS**


*   Syntax
*   Comments

In [ ]:
name = 'HIMANSHU' #this is the name of the person

In [ ]:
print(name)

HIMANSHU

**PYTHON DATATYPE, Type Casting and Variables**


*   Text type: str
*   numeric type: int, float
*   Sequence Type: list, tuple, range
*   Mapping type: dict
*   Set type: set
*   Booleaan type: bool

In [ ]:
name ='Rohit'
age = 25
height = 12.5

In [ ]:

type(age)

int

In [ ]:
type(name)

str

In [ ]:
type(height)

float

**Python Operators**




*   Arithmatic Operators(+,-,*,/,%,)
*   Assignment Operators(=,+=,-=,*=,/=,%=,)
*   Comparison Operators(==,!=,<,>,<=,>=)
*   logical Operators(and,or,not)
*   Membership Operators(in,not in)

In [ ]:
#Arithmatic
x=10
y=20
print(x+y,x-y,x*y,y/x,x%y,y**x)

30 -10 200 2.0 10 10240000000000

In [ ]:
#Assignment
x = 10
print(x)
x += 10
print(x)
x -= 5
print(x)
x **= 5
print(x)
x %= 10
print(x)

10
20
15
759375
5

In [ ]:
#comparison operator
x=100
y=100
if(x == y):
  print("The both numbers are equal")
z=200
if(x != z):
  print("The both numbers are not equal")

The both numbers are equal
The both numbers are not equal

In [ ]:
#logical Operator
x=25
y=30
z=60
if(2*y==z and z!=x):
  print("The both the conditions satisfied so the answer get executed")
if(2*y==z or z==x):
  print("Any one condition satisfied")
if(a == True):
  print(not a)

The both the conditions satisfied so the answer get executed
Any one condition satisfied
False

In [ ]:
#Membership operator
a = [1,2,3,4] #list
number=10
if(1 in a):
  print("number Present",1)
else:
  print("not Present",1)
if(number in a):
  print("Present",number)
else:
  print("not present",number)
if(number not in a):
  print("not present",number)

number Present 1
not present 10
not present 10

#**Loops**
*  For Loop
*  It is used for iterating over a sequence (that may be either a list, a tuple, a dictionary, a set, or a string)
*   use break and continue keyword

In [ ]:
fruits = ("Apple","Mango","Banana","cherry","pineapple")

In [ ]:
type(fruits)

tuple

In [ ]:
for i in fruits:  # we may or may not had to define end point
  print(i)

Apple
Mango
Banana
cherry
pineapple

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

#**While loop**
*  With the while loop we can execute a set of statements as a condition is true
*  Using Break & continue Keyword

In [ ]:
num =1       # Difference is need to define the end points
while num<5:
  print(num)
  num=num+1     # need to provide increment nd decrement also

1
2
3
4

#**Conditional statements**
*  if
*  elif
*  else

In [ ]:
marks=int(input("Student Marks-->"))
if (marks<35):
  print("Fail")
elif(marks>=35 and marks<=70):
  print("Average")
else:
  print("Excelent")

Student Marks-->56
Average

In [ ]:
marks=59
if(marks>35):
  print("Pass")
  if(marks>65):
    print("Pass with distinction")
  else:
    print("Pass but without distinction")
else:
  print("Fail")

Pass
Pass but without distinction

#**Strings & Its Methods**
*  All string methods return new values. They donot change the original string(Immutable).
# Methods
*  isalpha(), isalnum(), index(), find(), count(), capitalize(), isdigit(),
islower(),isnumeric()
*  endswith(), upper(), title(), swapcase(), strip(), startswith(), split(), join(), lower(), replace()

In [ ]:
txt1="hello, 'and welcome to our course'."
txt2='Hello'       # difference We cann't use the ()'') notations in the txt2 string
a = txt1.capitalize()
print(a)

Hello, 'and welcome to our course'.

In [ ]:
txt="I am from India and born in Maharashtra, India"
b=txt.count("India")
print(b)

2

In [ ]:
txt ="I love apples, apple are my favorite fruit" #banana we don't have in the string.
c=txt.find("banana")
print(c)
txt ="I love apples, apple are my favorite fruit" #apples  we have in the string.
d=txt.find("apples")
print(d)

-1
7

In [ ]:
try:                         #for errors(basically).
  e = txt.index("banana") #difference between find and index because we don't have banana in the string.
  print(e)
except:
  f = txt.index("apples") # because we don't have banana in the string.
  print(f)

7

In [ ]:
txt="company12"  # it says alphanumeric.
name=txt.isalnum()
print(name)

True

In [ ]:
txt="company"
name=txt.isalpha()
print(name)

True

In [ ]:
txt="20000399"
name=txt.isdigit()
print(name)

True

In [ ]:
names=["john","peter","vicky"]
joined="_".join(names)
print(joined)

john_peter_vicky

#**Lists & Its Methods**
*  lists are used to store multiple items in a single variable.
*  It is a collection which is ordered, changeable and allow Dublicate menbers.
*  Lists are Mutable.
#**List Methods**
*  append(), sort(), reverse(), remove(), pop(), insert(), index(), extend(), count(), copy(), clear()

In [ ]:
fruits =["apple","cherry","orange"]
fruits.append("mango")
print(fruits)
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)
fruits.remove("apple")
print(fruits)
fruits.pop(1)
print(fruits)
fruits.insert(1,"watermelon")
print(fruits)
fruits.index("orange")

['apple', 'cherry', 'orange', 'mango']
['apple', 'cherry', 'mango', 'orange']
['orange', 'mango', 'cherry', 'apple']
['orange', 'mango', 'cherry']
['orange', 'cherry']
['orange', 'watermelon', 'cherry']

0

In [ ]:
others =["pineapple","strawberry","guava","cherry","pineapple"]
fruits.extend(others)
print(fruits)
type(fruits)

['orange', 'watermelon', 'cherry', 'pineapple', 'strawberry', 'guava', 'cherry', 'pineapple', 'pineapple', 'strawberry', 'guava', 'cherry', 'pineapple', 'pineapple', 'strawberry', 'guava', 'cherry', 'pineapple', 'pineapple', 'strawberry', 'guava', 'cherry', 'pineapple', 'pineapple', 'strawberry', 'guava', 'cherry', 'pineapple', 'pineapple', 'strawberry', 'guava', 'cherry', 'pineapple', 'pineapple', 'strawberry', 'guava', 'cherry', 'pineapple', 'pineapple', 'strawberry', 'guava', 'cherry', 'pineapple']

list

In [ ]:
fruits.count("cherry")

9

In [ ]:
fruits.copy()

['orange',
 'watermelon',
 'cherry',
 'pineapple',
 'strawberry',
 'guava',
 'cherry',
 'pineapple',
 'pineapple',
 'strawberry',
 'guava',
 'cherry',
 'pineapple',
 'pineapple',
 'strawberry',
 'guava',
 'cherry',
 'pineapple',
 'pineapple',
 'strawberry',
 'guava',
 'cherry',
 'pineapple',
 'pineapple',
 'strawberry',
 'guava',
 'cherry',
 'pineapple',
 'pineapple',
 'strawberry',
 'guava',
 'cherry',
 'pineapple',
 'pineapple',
 'strawberry',
 'guava',
 'cherry',
 'pineapple',
 'pineapple',
 'strawberry',
 'guava',
 'cherry',
 'pineapple']

In [ ]:
fruits.clear()
fruits

[]

#**Python Functions**
*  A function is a  block of code which only runs when it called.
* Advanced Function:- lambda, map, zip.

In [ ]:
def intro():       #Function Defining
  value = 5
  return value**2
  print("Hello I'm from a function")

In [ ]:
intro()      #Function calling

25

In [ ]:
def my_ID(name):       #functin with argument
  print("UM001_" + name)

In [ ]:
my_ID("Sai")

UM001_Sai

In [ ]:
#lambda functions used to do function in single line
add = lambda a,b,c: print(a+b+c)

In [ ]:
add(4,5,6)

15

In [ ]:
#map Function
nums =[1,2,3,4,5,6]
def sq(n):
  return n*n
sq(2)

4

In [ ]:
#But what if we need Output of Whole list or collection
square = map(sq, nums)
print(list(square))

[1, 4, 9, 16, 25, 36]

In [ ]:
#Zip Function
name = ["Shant","Parveen","Akash","Lakshay"]
Id = [420,69,96,34]
mapped =zip(name , Id)
print(list(mapped))

[('Shant', 420), ('Parveen', 69), ('Akash', 96), ('Lakshay', 34)]

In [ ]:
type(mapped)

zip

#**DataStructures**
*  Tuple()
*  Dictionary{}
*  Set{}

#**Dictionary**
*  Dictionaries are used to store data values in key:value pairs.
*  A dictionary is a collection which is ordered*, changeable and do not allow dublicates.
*  It can be modified(mutable).

In [ ]:
car= {"brand":"Ford", "model":"Ecosports", "year":1964}
car

{'brand': 'Ford', 'model': 'Ecosports', 'year': 1964}

In [ ]:
car.get("year")

1964

In [ ]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Ecosports'), ('year', 1964)])

In [ ]:
print(car.keys())
car.values()

dict_keys(['brand', 'model', 'year'])

dict_values(['Ford', 'Ecosports', 1964])

In [ ]:
#pop method
car.pop("year")
print(car)

{'brand': 'Ford', 'model': 'Ecosports'}

In [ ]:
#pop item method
car.popitem()    #pop last key:value pair
print(car)

{'brand': 'Ford'}

In [ ]:
#update method
car.update({"color":"Black"})
print(car)

{'brand': 'Ford', 'color': 'Black'}

In [ ]:
#clear method
car.clear()
print(car)

{}

#**Tuple**
*  They are used to store multiple items in a single variable.
*  A tuple is a collection which is ordered and unchangeable. It is written with round brakets.
*  Immutable* used in passwords, casestudies, cybersecurite etc.

In [ ]:
fruits=("apple","mango","banana")     #Standard Method
print(fruits)

('apple', 'mango', 'banana')

In [ ]:
ints = tuple([1,2,3,4,5,6,7,8,9])      #Function method

In [ ]:
ints

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
fruits=("apple","banana","cherry","banana")       # Allows dublicates
print(fruits)

('apple', 'banana', 'cherry', 'banana')

In [ ]:
# count method
nums=(1,2,3,4,5,6,7,8,9,2,3,5,7,8)
nums.count(8)

2

In [ ]:
nums.index(8)   #It will take first appearence.

7

In [ ]:
#min and max method
nums =(-1,2,3,5,6,7,100)
min(nums)

-1

In [ ]:
max(nums)

100